@import "variables.css";

body {
    background-color: var(--main-accent-color);
}

* {
    transition: color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

a, p {
    text-decoration: none;
    color: var(--main-icon-color);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

    transition: all 0.3s ease-in-out;
}

a:hover {
    color: var(--main-highlight-color);
    text-decoration: underline;
}

.main-content {
    height: 100vh;

    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.back {
    position: fixed;
    top: 20px;
    left: 20px;
}

.theme-selector {
    position: fixed;
    top: calc(100vh - 50px);
    left: 20px;
}

.row {
    width: 100%!important;
}

.icons > * {
    /*d-flex flex-column justify-content-center align-items-center*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}