:root {
    --main-accent-color: black;
    --main-icon-color: white;
    --main-highlight-color: #dc3545;
    --main-background-color: #a4a4a4;
    --main-text-color: #000000;
    --main-text-area-color: #FFFFFF;
}