@import "./variables";

.container {
    background-color: white;
    min-height: 90vh;
    
    & > * {
        margin-bottom: 20px;
    }
    
    & > .title {
        font-size: 3rem;
        text-align: center;
        font-weight: 700;
        text-decoration: underline;
    }

    & > .description {
        text-indent: 2rem;
        font-size: 1.5rem;
        text-align: justify;
    }

    & > .section {
        width: 100%;
        padding: 10px;

        border-radius: 5px;
        border-width: 1px;
        border-color: $home-background;

        & > .title {
            font-size: 1.5rem;
            text-align: left;
            font-weight: 700;
            text-decoration: underline;
        }
    
        & > .description {
            text-indent: 1.5rem;
            font-size: 1.5rem;
            text-align: justify;
        }
    }
}

